<web-app>
    <servlet>
        <servlet-name>PizzasShowAll</servlet-name>
        <servlet-class>com.hillel.elementary.javageeks.dir.pizza_service.servlets.PizzasShowAll</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PizzasShowAll</servlet-name>
        <url-pattern>/pizzas_show_all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateOrder</servlet-name>
        <servlet-class>com.hillel.elementary.javageeks.dir.pizza_service.servlets.CreateOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateOrder</servlet-name>
        <url-pattern>/create_order</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CustomerRegister</servlet-name>
        <servlet-class>com.hillel.elementary.javageeks.dir.pizza_service.servlets.CustomerRegister</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerRegister</servlet-name>
        <url-pattern>/customer_register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CustomerLogout</servlet-name>
        <servlet-class>com.hillel.elementary.javageeks.dir.pizza_service.servlets.CustomerLogout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerLogout</servlet-name>
        <url-pattern>/customer_logout</url-pattern>
    </servlet-mapping>

</web-app>
