<web-app>
    <servlet>
        <servlet-name>PizzasShowAll</servlet-name>
        <servlet-class>com.hillel.elementary.javageeks.dir.pizza_service.servlets.PizzasShowAll</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PizzasShowAll</servlet-name>
        <url-pattern>/pizzas_show_all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CustomersRegister</servlet-name>
        <servlet-class>com.hillel.elementary.javageeks.dir.pizza_service.servlets.CustomersRegister</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomersRegister</servlet-name>
        <url-pattern>/customers_register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CustomersLogout</servlet-name>
        <servlet-class>com.hillel.elementary.javageeks.dir.pizza_service.servlets.CustomersLogout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomersLogout</servlet-name>
        <url-pattern>/customers_logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CustomersLogin</servlet-name>
        <servlet-class>com.hillel.elementary.javageeks.dir.pizza_service.servlets.CustomersLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomersLogin</servlet-name>
        <url-pattern>/customers_login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OrdersList</servlet-name>
        <servlet-class>com.hillel.elementary.javageeks.dir.pizza_service.servlets.OrdersList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrdersList</servlet-name>
        <url-pattern>/orders_list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OrdersCreate</servlet-name>
        <servlet-class>com.hillel.elementary.javageeks.dir.pizza_service.servlets.OrdersCreate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrdersCreate</servlet-name>
        <url-pattern>/orders_create</url-pattern>
    </servlet-mapping>
</web-app>
